table{
    color: #ffffff;
    text-align: center;
    border-colapse: colapse;
    font: normal 3em Arial, Helvetica , san-sarif
}

tr{
    height: 16,02vh;
    background-color: #212121e1;
}

td{
    width: 25vw;
    border: 1px #212121e1;
}

#inputBox{
    background-color: #212121e1;
    text-align: right;
    width: 100%;
    font-size: 2em;
    color: #ffffff;
    border: 0px;
}

.digitButton{
    background-color: #51321b;
}

.operatorButton{
    background-color: #53f8d0ef;
}

.ACButton{
    background-color: #53f8d0ef;
}